[buildout]
versions = versions
#allow-picked-versions = false

[versions]
gevent = 1.0.1
greenlet = 0.4.0
llist = 0.3
manuel = 1.6.0
mock = 1.0.1
netifaces = 0.8
six = 1.2.0
WebOb = 1.2.3
zc.mappingobject = 1.0.0
zc.metarecipe = 0.2.0
zc.monitor = 0.3.1
zc.ngi = 2.0.1
zc.parse-addr = 1.0.0
zc.sourcerelease = 0.3.1
zc.thread = 0.1.0
# zc.zk = 1.1.0
# zc-zookeeper-static = 3.4.4
zope.component = 4.0.0
zope.event = 4.0.0
zope.exceptions = 4.0.1
zope.interface = 4.0.1
zope.testing = 4.1.1
zope.testrunner = 4.0.4

# Added by buildout at 2013-11-26 14:02:04.813559
zc.buildout = 2.2.1
zc.recipe.egg = 2.0.1

# Required by:
# zc.mappingobject==1.0.0
# zc.parse-addr==1.0.0
# zc.recipe.egg==2.0.1
# zc.resumelb==0.7.1
# zc.resumelbrecipe==0
# zc.sourcerelease==0.3.1
# zc.thread==0.1.0
# zope.exceptions==4.0.1
# zope.interface==4.0.1
# zope.testrunner==4.0.4
setuptools = 1.4.1

# Added by buildout at 2013-11-26 14:05:04.134917
zc.recipe.deployment = 1.1.0
zc.recipe.rhrc = 1.4.2
zc.zdaemonrecipe = 0.3.1
zc.zookeeper-deploy-buildout = 0.2.0
zdaemon = 4.0.0

# Required by:
# zc.zdaemonrecipe==0.3.1
# zdaemon==4.0.0
ZConfig = 3.0.3

# Added by buildout at 2013-11-26 14:06:07.389624
WebTest = 2.0.10
bobo = 1.0.0
waitress = 0.8.7

# Required by:
# WebTest==2.0.10
beautifulsoup4 = 4.3.2

# Required by:
# WebTest==2.0.10
ordereddict = 1.1
